<head>
  <script type="text/javascript">

      $('#foo').change(function() {
          if($('#foo').val() == "Quiero emprender!"){
              document.getElementById("hideablearea").style.visibility = "visible";
          }
          else
          {
              document.getElementById("hideablearea").style.visibility = "hidden";
          }
      });

  </script>
</head>
<%= form_for(@user, :class => "form-horizontal") do |f| %>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="span4 offset4 well">
          <legend>Edita tu perfil</legend>
              <div class="field">
                <%= f.label "Nombre" %>
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label "Apellido" %>
                <%= f.text_field :apellido %>
              </div>
              <div class="field">
                <%= f.label "Pag web o Blog" %>
                <%= f.text_field :pagweb %>
              </div>
              <div class="field">
                <%= f.label :programa %>
                <%= f.select :programa, options_for_select([['Ing. Sistemas', "Ing. Sistemas"], ['Ing. Industrial', "Ing. Industrial"],
                                                            ['Ing. Electrica/Electronica',"Ing. Electronica"],['Ing. Civil',"Ing. Civil"],
                                                            ['Ing. Mecanica',"Ing. Mecanica"],['Administraci칩n de empresas',"Administraci칩n de empresas"],
                                                            ['Dise침o',"Dise침o"]],:selected => @user.programa)%>
              </div>
              <div id="foo" class="field" >
                <%= f.label :estado %>
                <%= f.select :estado, options_for_select([['Quiero empreder!', "Quiero emprender!"],
                                                          ['Tengo una idea de negocio', "Tengo una idea de negocio"],
                                                          ['Creando empresa',"Creando empresa"],
                                                          ['Ya tengo una empresa',"Empresario"]],:selected => @user.estado)%>
              </div>
              <div class="field">
                <%= f.label "Sector de mayor interes" %>
                <%= f.select :sector, options_for_select([['Administracion Publica', "Administracion publica"],
                                                          ['Agricultura y Ganaderia', "Agricultura/Ganaderia"],
                                                          ['Agroalimentario',"Agroalimentario"],
                                                          ['Arte y Cultura',"Arte y Cultura"],
                                                          ['Autopistas',"Autopistas"],
                                                          ['Banca y Finanzas',"Banca y Finanzas"],
                                                          ['Construccion',"Construccion"],
                                                          ['Consultoria',"Consultoria"],
                                                          ['Distribucion',"Distribucion"],
                                                          ['Educacion y Formacion',"Educacion/Formacion"],
                                                          ['Energia',"Energia"],
                                                          ['Farmacia',"Farmacia"],
                                                          ['Forestal',"Forestal"],
                                                          ['Industrial',"Industrial"],
                                                          ['Informacion',"Informacion"],
                                                          ['Ingenieria',"Ingenieria"],
                                                          ['Inmobilaria',"Inmobilaria"],
                                                          ['Medicina y Salud',"Medicina y Salud"],
                                                          ['Medio Ambiente',"Medio Ambiente"],
                                                          ['Motor',"Motor"],
                                                          ['Publicidad',"Publicidad"],
                                                          ['Marketing',"Marketing"],
                                                          ['Salud y Belleza',"Salud y Belleza"],
                                                          ['Seguros',"Seguros"]],:selected => @user.sector)%>
              </div>
              <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password %>
              </div>
              <p>Confirmacion</p>
              <input type="password" id="conf" size="30" name="conf" placeholder="Reescribe el password">


              <div class="actions">
                <%= f.submit "Actualizar", :class=>"btn btn-primary" %>
              </div>
        </div>
      </div>
    </div>
<% end %>
