<br> <br>
<div class="container">

  <% if !signed_in? %>
  <div class="span8 offset1 well">
    <p class="lead text-center">Necesitas estar logeado para editar tu equipo emprendedor!<br>
  </div>
  <% elsif !@can %>
      <div class="span10 well">
        <p class="lead text-center">Para crear un equipo debes especificar que tu estado no es <strong>Quiero emprender!</strong><br>
      </div>
  <% elsif !@user.has_team && @isMe%>
          <div class="span8 offset1 well">
            <p class="lead">Con un equipo o con una empresa consolidada? Pueden agregar a tu equipo aca mismo!<br>
              <%= form_tag(:controller => "users", :action => "myteam", :method=>"POST",:class => "form-horizontal", :validate=>true) do  %>

                <%= submit_tag "Crear equipo", :class=>"btn btn-success btn-primary offset3"%></div>
              <% end %>
          </div>
  <% else  %>

            <legend class="text-center">Equipo de <%= @user.name %></legend>
          <div class="span12">
          <div class="span12 well">
            <!-- Display the team-->
             <h2>
               <%= (@equipo.name.blank? ? "<nombre equipo>": @equipo.name) %>
                <div class="pull-right"><%= @equipo.nit.blank? ? "": "NIT: "+@equipo.nit.to_s%></div> </h2>

             <h3>Miembros:</h3>
            <div class="span10 offset1 well well-small">
              <div class="pull-left">
                <% if !@user.fb_image_link.blank? %>
                    <img src="<%=@user.fb_image_link.split("=")[0] << "=square"%>" class="img-rounded">
                <% else %>
                    <img src="<%=asset_path( 'default_profile_mini.png' )%>" class="img-rounded">
                <% end %>
              </div>
              <div class="span3">
                <h4><%= @user.name %> </h4>
              </div>
              <div class="span3">
                <a class="label label-info"><%= @user.estado %></a>
                <a class="label label-success"><%= @user.programa %> </a>
              </div>
              <div class="span2 pull-right">
                <%= link_to user_path(@user),:class=>"btn btn-inverse" do %>
                    <i class="icon-eye-open icon-white"></i>Ver usuario
                <% end %>
              </div>
            </div>
            <div class="span10 offset1 well well-small">
              <div class="pull-left">
                <% if !@extra1.blank? && !@extra1.fb_image_link.blank? %>
                    <img src="<%=@extra1.fb_image_link.split("=")[0] << "=square"%>" class="img-rounded">
                <% else %>
                    <img src="<%=asset_path( 'default_profile_mini.png' )%>" class="img-rounded">
                <% end %>
              </div>
              <div class="span3">
                <h4><%= @extra1.blank? ? @equipo.user1 : @extra1.name %> </h4>
                <% if @extra1.blank? %>
                    <%= @equipo.mail_user1 %>
                <% end %>
              </div>
              <div class="span3">
                <a class="label label-info"><%= @extra1.blank? ? "unknown" : @extra1.estado %></a>
                <a class="label label-success"><%= @extra1.blank? ? "unknown" :@extra1.programa %> </a>
              </div>
              <div class="span2 pull-right">
                <% if !@extra1.blank? %>
                    <%= link_to user_path(@extra1),:class=>"btn btn-inverse" do %>
                        <i class="icon-eye-open icon-white"></i>Ver usuario
                    <% end %>
                <% else %>
                    <strong>*Correo no registrado en el sistema.</strong>
                <% end %>
              </div>

            </div>
            <div class="span10 offset1 well well-small">
              <div class="pull-left">
                <% if !@extra2.blank? && !@extra2.fb_image_link.blank? %>
                    <img src="<%=@extra2.fb_image_link.split("=")[0] << "=square"%>" class="img-rounded">
                <% else %>
                    <img src="<%=asset_path( 'default_profile_mini.png' )%>" class="img-rounded">
                <% end %>
              </div>
              <div class="span3">
                <h4><%= @extra2.blank? ? @equipo.user2 : @extra2.name %> </h4>
                <% if @extra2.blank? %>
                   <h4><%= @equipo.mail_user2 %></h4>
                <% end %>
              </div>
              <div class="span3">
                <a class="label label-info"><%= @extra2.blank? ? "unknown" : @extra2.estado %></a>
                <a class="label label-success"><%= @extra2.blank? ? "unknown" :@extra2.programa %> </a>
              </div>
              <div class="span2 pull-right">
                <% if !@extra2.blank? %>
                    <%= link_to user_path(@extra2),:class=>"btn btn-inverse" do %>
                        <i class="icon-eye-open icon-white"></i>Ver usuario
                    <% end %>
                <% else %>
                    <strong>*Correo no registrado en el sistema.</strong>
                <% end %>
              </div>
            </div>
            <div class="span10 offset1 well well-small">
              <div class="pull-left">
                <% if !@extra3.blank? && !@extra3.fb_image_link.blank? %>
                    <img src="<%=@extra3.fb_image_link.split("=")[0] << "=square"%>" class="img-rounded">
                <% else %>
                    <img src="<%=asset_path( 'default_profile_mini.png' )%>" class="img-rounded">
                <% end %>
              </div>
              <div class="span3">
                <h4><%= @extra3.blank? ? @equipo.user3 : @extra3.name %> </h4>
                <% if @extra3.blank? %>
                    <h4><%= @equipo.mail_user3 %></h4>
                <% end %>
              </div>
              <div class="span3">
                <a class="label label-info"><%= @extra3.blank? ? "unknown" : @extra3.estado %></a>
                <a class="label label-success"><%= @extra3.blank? ? "unknown" :@extra3.programa %> </a>
              </div>
                  <div class="span2 pull-right">
                    <% if !@extra3.blank? %>
                    <%= link_to user_path(@extra3),:class=>"btn btn-inverse" do %>
                        <i class="icon-eye-open icon-white"></i>Ver usuario
                    <% end %>
                    <% else %>
                        <strong>*Correo no registrado en el sistema.</strong>
                    <% end %>
                  </div>
            </div>
           </div>

            <div class="span12 well">
              <h3>Edita tu equipo</h3>
              <%= form_tag(:action => "myteam", :method=>"POST",:class => "form-horizontal", :validate=>true) do  %>

                  <div class="row"> <div class="span1 lead">Nombre</div> <div class="span3 offset1"><input type="text" id="nombre" name="nombre" placeholder="Nombre del equipo"value="<%=@equipo.name %>" ></div></div>
                  <div class="row">
                        <div class="span4">
                          <div class="lead">Integrante 1</div>
                          <div class="span5 pull-left"><input type="text" id="u1" name="u1" placeholder="nombre integrante1" value="<%=@equipo.user1 %>"></div>
                          <div class="span4 pull-left"><input type="text" id="cu1" name="cu1" placeholder="correo integrante1" value="<%=@equipo.mail_user1 %>"></div>
                        </div>
                        <div class="span4">
                          <div class="lead">Integrante 2</div>
                          <div class="span5 pull-left"><input type="text" id="u2" name="u2" placeholder="nombre integrante2" value="<%=@equipo.user2 %>"></div>
                          <div class="span4 pull-left"><input type="text" id="cu2" name="cu2" placeholder="correo integrante2" value="<%=@equipo.mail_user2 %>"></div>
                        </div>
                        <div class="span4">
                          <div class="lead">Integrante 3</div>
                          <div class="span5 pull-left"><input type="text" id="u3" name="u3" placeholder="nombre integrante3" value="<%=@equipo.user3 %>"></div>
                          <div class="span4 pull-left"><input type="text" id="cu3" name="cu3" placeholder="correo integrante3" value="<%=@equipo.mail_user3 %>"></div>
                        </div>
                  </div>
                  <div class="row">
                    <div class="span12">
                      <hr>
                      <div class="lead"> Si tu equipo es una empresa ya consolidada, proveenos tu <strong>NIT</strong>:</div>
                      <div class="span3"><input type="number" id="nit" name="nit" value="<%=@equipo.nit %>"></div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="span6 offset3">
                     <%= submit_tag "Editar mi equipo", :class=>"lead btn btn-success btn-primary btn-block"%></div>
                    </div>

                  </div>


              <% end %>


            </div>
          </div>


            </div>
      <% end%>
</div>