<title>ANEU - Equipo</title>

<br><br>
<div class="container">
  <div class="container marketing">
    <hr><br>
    <img class="pull-left" src="<%= asset_path( 'default_profile.jpg' ) %>">
      <h2 class="featurette-heading offset2">Daniel Martinez. <span class="muted"><br>Presidente.</span></h2>
      <p class="lead offset2">Estudiante de Ingeniería Industrial y Administración. Actualmente se encuentra en proceso de creación de Rolem, desempeñándose como CEO. Rolem es una empresa que diseña, ensambla y comercializa PC Desktops para Gamers.</p>
    <br><br><hr>
      <img class="pull-right" src="<%= asset_path( 'default_profile.jpg' ) %>">
      <h2 class="featurette-heading">Santiago Jimenez<span class="muted"><br>Vicepresidente.</span></h2>
      <p class="lead">Estudiante de Administración, con Opción en Derecho en los Negocios. Socio cofundador de Nimbus SAS, cuyo objetivo principal es el desarrollo de aplicaciones web y para dispositivos móviles con una infraestructura basada en "Cloud Computing". En un segundo campo de acción se desempeña en la industria del entretenimiento con la empresa de producción y logística de eventos, PowerSound.</p>
    <br><hr>
      <img class="pull-left" src="<%= asset_path( 'default_profile.jpg' ) %>">
      <h2 class="featurette-heading offset2">David Florez.<span class="muted"><br>Gerente de Mercadeo</span></h2>
      <p class="lead offset2">Estudiante de Administración. Co-Fundador de Disruption Labs, empresa de diseño y desarrollo web. Actualmente se encuentra desarrollando un startup enfocado en transformar la publicidad en dispositivos móviles a través de dos líneas de negocio: Sightcards y GuideMyTrip.</p>
   <br> <hr>
        <img class="pull-right" src="<%= asset_path( 'default_profile.jpg' ) %>">
        <h2 class="featurette-heading">Andres Vargas<span class="muted"><br>Gerente Financiero.</span></h2>
        <p class="lead">Estudiante de Ingeniería Industrial y Economía. En un futuro le gustaría crear una empresa que se dedique al asesoramiento financiero de derivados e instrumentos de cobertura.</p>
   <br> <hr>
        <img class="pull-left" src="<%= asset_path( 'default_profile.jpg' ) %>">
        <h2 class="featurette-heading offset2">Gustavo Daniel.<span class="muted"><br>Gerente de Relaciones</span></h2>
        <p class="lead offset2">Estudiante de Ingeniería Mecánica e Ingeniería Industrial. Actualmente tiene una empresa que presta servicios petroleros y con un conjunto de amigos está creando una empresa para el desarrollo de aplicaciones específicas para Microempresas y Pymes.</p>
    <br><hr>
        <img class="pull-right" src="<%= asset_path( 'default_profile.jpg' ) %>">
        <h2 class="featurette-heading">Jesus Contecha<span class="muted"><br>Gerente de Comunicaciones.</span></h2>
        <p class="lead">Estudiante de Ingeniería Industrial y Administración. Quiere crear una corporación financiera que se dedique a los mercados de renta fija, renta variable, comodities y exchange. Su objetivo es fortalecer sus habilidades como emprendedor antes de convertirse en uno, trabajando de cerca a personas con emprendimientos más avanzados en ANEU.</p>
    <br><hr>
        <img class="pull-left" src="<%= asset_path( 'default_profile.jpg' ) %>">
        <h2 class="featurette-heading offset2">Sebastian Castro.<span class="muted"><br>Gerente de Relaciones</span></h2>
        <p class="lead offset2">Estudiante de Ingeniería Industrial. Actualmente se encuentra desarrollando la parte comercial con los últimos productos desarrollados por su empresa familiar. También maneja otros negocios personales.</p>
  </div>
</div>