<!DOCTYPE html>
<html>
<head>
  <title>ANEU</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link href="public/stylesheets/event_calendar.css" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'event_calendar' %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render "partials/navbar" %>
<% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= flash[:notice] %></p>
    </div>
<% end %>
<% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= flash[:error] %></p>
    </div>
<% end %>

<%= yield %>

</body>
<!-- FOOTER -->
<div class="container marketing">
  <footer>
    <p class="pull-right"><a href="">Back to top</a></p>
    <p>© 2013 ANEU. </p>
    <p>Desarrollado por <a href="http://about.me/jstriedinger">José Striedinger</a> y Fernando Hurtado. <a href="http://http://acm.uniandes.edu.co/">ACM Uniandes</a> </p>
    <p>  </p>
  </footer>
</div>
</html>